.userinfo{
    margin-top: 120px;
}
.page-heading{
    margin-top: 120px;
}
.issues-info{
    margin-top: 30px;
}
.bodyContent{
    margin-top: 90px;
}
@media only screen and (max-width: 768px){
    .page-heading{
        margin-top: 0px;
    }
}